uvicorn[standard] 
fastapi 
numpy 
pandas 
scikit-learn
opencv-python 
scipy 
keras 
tensorflow 
matplotlib 
psycopg2
ipykernel
pandas_gbq
google
openpyxl
google-cloud-storage
google-cloud-bigquery
pytest
seaborn